@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home-accordion .mantine-Accordion-control:hover {
  background: #ded8ce;
}